# Node modules and dependencies
node_modules
**/node_modules

# Build output
.next
out

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Local config overrides
.vscode
.idea
.DS_Store

# Git
.git
.gitignore

# Docker-related
Dockerfile*
docker-compose*
.dockerignore
